@font-face{
    font-family: titleFont;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}

@font-face{
    font-family: bodyFont;
    src: url(Montserrat-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: bodyFont;
}

.header h1{
    color: #cccccc;
    font-family: titleFont;
    padding-top: 0.5em;
}

.emptyline{
    padding-bottom: 1em;
}

.header > *{
    text-align: center;
}
.header{
    background-color: #666666;
}

.highlight{
    color: #62A8E5;
}

p, a, a:visited{
    color: #eeeeee;
}

#default h1{
    color: #eeeeee;
    text-align: center;
    padding: 1em;
}

.body h2{
    color: #999999;
    text-align: center;
    padding-top: 2em;
}

.body p{
    color: #eeeeee;
    padding: 1em;
    padding-top: 2em;
}

.body{
    display: none;
    grid-template-columns: 1fr;
}

.tab{
    overflow: hidden;
    background-color: #999999;
    align-items: center;
    text-align: center;
}

.tab button{
    background-color: inherit;
    text-align: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: bodyFont;
}

.tab button.active{
    background-color: #757575;
}

.tab button:hover{
    background-color: #757575;
}

.close{
    cursor: pointer;
}

.close:hover{
    text-decoration: underline;
}

#blog li{
    color: #eeeeee;
    padding: 1em;
}

.bloglink{
    cursor: pointer;
}

#blogentry{
    display: none;
    padding: 2em;
}

#blogentry h1{
    color: #eeeeee;
    text-align: center;
}

#blogentry h2{
    color: #cccccc;
    text-align: center;
}

#blogentry p{
    color: #eeeeee;
}

.container h1{
    color: #eeeeee;
}

@media(min-width:700px){
    .body{
        grid-template-columns: 1fr 1fr;
    }
    .body > p{
        padding-right: 5em;
    }
}